<!DOCTYPE html>
<html>
<head>
  <title>Print CSS Imager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/railscasts.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="print_css_token" content="<%= ENV['TEST_ACCOUNT_TOKEN'] %>">
</head>
<body>
  <div class="container print-css">    
    <%= render 'layouts/navigation' %>    
    <%= yield %>
  </div>
</body>
</html>
